
<h1> Believe in yourself, and find ways to express yourself, and find the discipline to keep growing. </h1>
<hr>

<div class="container">
    <div class="row" *ngFor='let quote of quotes; let i=index'>
        <p>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</p>
        <div class="row">
     <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button></div>
        
     <div class="row" *ngIf="quote.showDescription">
     <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
     </div>
    
    </div>
</div>
