
<body class="book">
<div class="row">
  <div class="col-4">
  <h3 id="open">“</h3>
  </div>

  
  <div class="col-3">
<div class="bok">
  <img id="bookimg" src="assets/images/book.jpeg" position=center>
  </div>
  </div>

  <div class="col-4">
      <h3 id="close">”</h3>
      </div>
  </div>
  <br>
  
<div class="color">
<div class="container">
      <div class="row">
        <div class="col-5" id="formss"> 
<br>


            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>




        <div class="col-6" id="quotess">
           <br>
            
            <div *ngFor='let quote of quotes;let i = index'>
              <div id="output">
                <p id="{{i}}">{{quote.description}} {{quote.Author}} <br><strong>posted on {{quote.completeDate|date|uppercase}}</strong></p>
                <br>
                <div class="button">
                  <button class="btn btn-primary" (click)='toogleDetails(i)'>Details</button>
                </div>
                <br>
                <div *ngIf="quote.showDescription">
                  <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
                  
                </div>
              </div>
            </div>
           
                  <br>
                  <!-- <img src="assets/images/images.jpeg" alt="">
                -->
        </div>
      </div>
            

           

          </div>
        </div>
        <footer class="text-center"><h2>"Quotes are amazing!"</h2> <br> <h4><em>Quote me on that</em></h4>
        </footer>
</body>