
<body class="book">
<h1> <strong></strong>QUOTES <strong></strong></h1>
<strong><hr></strong>
<br>

<div class="container">
      <div class="row">
        <div class="col-6" id="formss"> 

<img src="assets/images/book.jpeg" alt="">
<br>
<hr>

            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        <div class="col-6" id="quotess">
           
            
            <div *ngFor='let quote of quotes;let i = index'>
              <div id="output">
                <p id="{{i}}">{{quote.description}} <br><strong>posted on {{quote.completeDate|date|uppercase}}</strong></p>
                <br>
                <div class="button">
                  <button class="btn btn-primary" (click)='toogleDetails(i)'>Details</button>
                </div>
                <div *ngIf="quote.showDescription">
                  <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
                  
                </div>
              </div>
            </div>
            <hr>
                  <br>
                  <img src="assets/images/images.jpeg" alt="">
               
        </div>
      </div>
            

           

          </div>
</body>