@import "~bootstrap/dist/css/bootstrap.css";

.btn:hover {
  background-color: purple;
  width: 150px;
  height: 50px;

}



#quotess {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  line-height: -10em;
  color: rgb(0, 238, 255);
 
}

#formss {
  
    justify-content: space-around;
}
/* 
.qo {
  background-image: url('./')
} */

#formss {
/* background-image: url('./assets/images/quote.jpg');
background-repeat: no-repeat;
background-size: 700px; */
block-size: 55%;

}

#quotess {
  margin-left: 8px;

}

#formss {
  margin-right: 8px;
}

/* .book {
  background-image: url('./assets/images/moon.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
} */

#bookimg{
  margin-top: 3%;
  margin-left: 41%;
  margin-bottom: 2%;
}
.color{
  background-color: rgb(0, 0,0);
  color: white;
}
footer{
  background-color: white;
  margin: 5%;
  
}

/* .bok {
  background-image: url('./assets/images/heart.jpeg');
  background-repeat: no-repeat;
  width: 500px;
} */

h3{
  font-size: 1000%;
}
#close{
  margin-left: 93%;
}